project:
  # 名称
  name: demo
  # 版本
  version: 1.0.0
  # 版权年份
  copyrightYear: 2025
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/ruoyi/uploadPath
  # 获取ip地址开关
  ipAddressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

# 用户配置
user:
  # 登录最大失败次数
  maxLoginFailCount: 5
  # 密码锁定时间（单位默认是小时）
  lockTime: 10

# Springboot 配置
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: demo-system
  # 资源信息
  messages:
    basename: i18n/messages
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  jackson:
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
  mvc:
    format:
      date: yyyy-MM-dd
      time: HH:mm:ss
      date-time: yyyy-MM-dd HH:mm:ss

  # 配置数据库连接信息
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/zzq-demo
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 12345

  data:
    # redis 配置
    redis:
      # 地址
      host: localhost
      # 端口，默认为6379
      port: 6379
      # 数据库索引
      database: 1
      # 密码
      password:
      # 连接超时时间
      timeout: 10s
      lettuce:
        pool:
          # 连接池中的最小空闲连接
          min-idle: 0
          # 连接池中的最大空闲连接
          max-idle: 8
          # 连接池的最大数据库连接数
          max-active: 8
          # #连接池最大阻塞等待时间（使用负值表示没有限制）
          max-wait: -1ms

# MyBatis配置
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapper-locations: classpath*:**/*Mapper.xml
  # 搜索指定包别名
  typeAliasesPackage: com.zzq.**.domain

  # 加载全局的配置文件
  config-location: classpath:mybatis-config.xml

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌前缀
  prefix: Tiger
  # 令牌密钥
  secret: secret
  # 令牌有效期（单位默认为分钟）
  expireTime: 2880
  # 刷新令牌有效期（单位默认为分钟）
  refreshExpireTime: 2880