<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.system.mapper.SysDeptMapper">
    <resultMap id="SysDeptResult" type="SysDept">
        <id property="id" column="dept_id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="level" column="level"/>
        <result property="seq" column="seq"/>
        <result property="seqGlobal" column="seq_global"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <insert id="insert">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name, parent_id, level, create_by,
            <if test="seq != null">
                seq,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null and remark !=''">
                remark,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{name}, #{parentId}, #{level}, #{createBy},
            <if test="seq != null">
                #{seq},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="remark != null and remark !=''">
                #{remark},
            </if>
        </trim>
    </insert>
    <update id="update">
        update sys_dept
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="seq != null">
                seq = #{seq},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateLevelInBatch">
            UPDATE sys_dept SET
            level = CASE id
            <foreach collection="depts" item="dept">
                WHEN #{dept.id} THEN #{dept.level}
            </foreach>
            END,
            update_by = CASE id
            <foreach collection="depts" item="dept">
                WHEN #{dept.id} THEN #{dept.updateBy}
            </foreach>
            END
            WHERE id IN
            <foreach collection="depts" item="dept" open="(" close=")" separator=",">
                #{dept.id}
            </foreach>
    </update>

    <select id="listDept" resultMap="SysDeptResult">
        select d.id as dept_id, d.name, d.parent_id, d.seq, d.status, d.remark
            from sys_dept d
        where d.del_flag = 0
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        <!-- length(level) - length(replace(level, '.', '')) -> 分隔符点的个数 -->
        order by length(level) - length(replace(level, '.', '')), seq is null, seq
    </select>
    <select id="selectOneIdByNameAndParentId" resultType="java.lang.Long">
        select id from sys_dept where name = #{name} and parent_id = #{parentId} and del_flag = 0 limit 1
    </select>
    <select id="selectDeptsByParentId" resultMap="SysDeptResult">
        select id as dept_id, level, seq
        from sys_dept
        where parent_id = #{parentId} and del_flag = 0
        order by seq is null, seq
    </select>
    <select id="selectDeptById" resultMap="SysDeptResult">
        select id as dept_id, name, parent_id, level, seq, status, remark, del_flag
        from sys_dept
        where id = #{id}
    </select>
    <select id="selectDeptsByLevel" resultMap="SysDeptResult">
        select id as dept_id, name, parent_id, level, seq, status, remark
        from sys_dept
        where level like concat(#{level}, '%') and del_flag = 0
        order by length(level) - length(replace(level, '.', '')), seq is null, seq
    </select>


</mapper>